{% extends "base.html" %}
{% import 'forms.twig' as forms %}

{% block title %} {{ website_name }} {% endblock %}
{% block content %}
<form action="{{ base_path(request.getUrlFor('Index/Contact')) }}" method="post">
  {% if errors|length > 0 %}
  <div class="errors">
    <ul>
      {% for error in errors %}
      <li>{{ error|e }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="form">
    <div class="field">
      {{ forms.label('name', 'Your name *') }}
      {{ forms.input('name', name) }}
    </div>
    <div class="field">
      {{ forms.label('email', 'Your email address *') }}
      {{ forms.input('email', email) }}
    </div>
    <div class="field">
      {{ forms.label('message', 'Your message *') }}
      {{ forms.textarea('message', message ) }}
    </div>
  </div>
  
  <div class="buttons">
    <button name="submit" class="button green poursuivre">
      <strong>Send</strong>
    </button>
  </div>
</form>
{% endblock %}
